@import '../../../../../node_modules/@infotition/design-system/lib/colors.scss';
@import '../../../../../node_modules/@infotition/design-system/lib/utility.scss';

:root {
  --hover: #{rgba($clr-neutral-150, 0.5)};
  --ripple: #{darken($clr-neutral-150, 10%)};
  --text: #{$clr-neutral-600};
  --disabled: #{$clr-neutral-300};
}

.dark,
[data-theme='dark'] {
  --hover: #{rgba($clr-neutral-700, 0.4)};
  --ripple: #{darken($clr-neutral-700, 18%)};
  --text: #{$clr-neutral-400};
  --disabled: #{$clr-neutral-700};
}

.small {
  width: 25px;
  height: 25px;
}

.medium {
  width: 40px;
  height: 40px;
}

.large {
  width: 60px;
  height: 60px;
}

.icon-button {
  position: relative;
  padding: 0;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 250ms ease;

  svg {
    pointer-events: none;
    position: absolute;
    width: 55%;
    height: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--text);
  }

  &:hover:not(:disabled) {
    background-color: var(--hover);
  }

  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    position: absolute;
    border-radius: 100px;
    background-color: var(--ripple);
  }
}

.disabled {
  cursor: default;

  svg {
    color: var(--disabled);
  }
}

.animate:after {
  animation: ripple 500ms ease;

  :local {
    animation: ripple 500ms ease;
  }
}

@keyframes ripple {
  0% {
    width: 0%;
    height: 0%;
    opacity: 1;
  }
  50% {
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
