$clr-neutral-900: #212134;
$clr-neutral-800: #32324d;
$clr-neutral-700: #4a4a6a;
$clr-neutral-600: #666687;
$clr-neutral-500: #8e8ea9;
$clr-neutral-400: #a5a5ba;
$clr-neutral-300: #c0c0cf;
$clr-neutral-200: #dcdce4;
$clr-neutral-150: #eaeaef;
$clr-neutral-100: #f6f6f9;
$clr-neutral-0: #ffffff;

$clr-primary-700: #5927e5;
$clr-primary-600: #7a52ea;
$clr-primary-500: #9b7def;
$clr-primary-200: #bda9f5;
$clr-primary-100: #ded4fa;

$clr-secondary-700: #fed3d4;
$clr-secondary-600: #fedcdd;
$clr-secondary-500: #fee5e5;
$clr-secondary-200: #ffedee;
$clr-secondary-100: #fff6f6;

$clr-accent-700: #65baa9;
$clr-accent-600: #84c8ba;
$clr-accent-500: #a3d6cb;
$clr-accent-200: #c1e3dd;
$clr-accent-100: #e0f1ee;

$clr-success-700: #66cf80;
$clr-success-600: #85d999;
$clr-success-500: #a3e2b3;
$clr-success-200: #d1f1d9;
$clr-success-100: #f0faf2;

$clr-warning-700: #ffd667;
$clr-warning-600: #ffde85;
$clr-warning-500: #ffe6a4;
$clr-warning-200: #fff3d1;
$clr-warning-100: #fff7e1;

$clr-error-700: #e00061;
$clr-error-600: #e63381;
$clr-error-500: #ec66a0;
$clr-error-200: #ec66a0;
$clr-error-100: #f9ccdf;
