$clr-primary: #5927E5 !default;
$clr-primary-dark: #BDA9F5 !default;
$clr-text: #32324D !default;
$clr-text-dark: #fff !default;
$clr-label: #666666 !default;
$clr-label-dark: #b6babf !default;
$clr-border: #c4c4c4 !default;
$clr-border-dark: #434e5b !default;
$clr-disabled: #b0b0b0 !default;
$clr-error: #E00061 !default;

$radius: 0.2rem !default;


/* GLOBAL STYLES */

.text-field-container {
  font-family: 'Poppins', sans-serif;
  width: 200px;
  height: 50px;

  * {
    box-sizing: border-box;
  }
}

.text-field {
  position: relative;
  transition: background-color 250ms ease;
  width: 100%;
  height: 100%;

  input {
    outline: none;
    color: $clr-text;
    background: none;
    border: none;

    /* If element is focused the label color is primary. */
    &:focus ~ label {
      color: $clr-primary;
    }
  }

  label {
    position: absolute;
    left: 1rem;
    color: $clr-label;
    transition: bottom 200ms ease, top 200ms ease, font-size 200ms ease;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
  }
}

.helper {
  padding: 5px 0 0 20px;
  font-size: .8rem;
  display: block;
  transition: opacity 100ms ease;
  color: $clr-label;
}

/* FULL WIDTH STYLES */

.text-field-container.full-width {
  width: 100% !important;
}

/* MISSING LABEL STYLES */

.text-field {
  /* Place input field in the center. */
  &.filled.without-label input {
    padding: 1.15rem 1rem !important;
  }

  /* Only focus animation and don't remove border if written. */
  &.outlined.without-label input {
    &:focus {
      border: 2px solid $clr-primary !important;
      margin: 0 -1px;
    }

    &:not(:placeholder-shown) {
      border: 1px solid $clr-border;
    }
  }

  /* If label is missing, also hide the helper text. */
  &.without-label ~ .helper {
    opacity: 0;
  }

  /* If text field is focused, show the helper text again. */
  &.without-label:focus-within ~ .helper {
    opacity: 1;
  }
}

/* DISABLED STYLES */

.disabled {
  .helper, .text-field label, .text-field input {
    color: $clr-disabled !important;
  }

  .text-field input:hover ~ fieldset,
  .text-field input:hover:not(:focus):placeholder-shown {
    border-color: $clr-border !important;
  }

  .filled {
    background-color: #e9e8e8 !important;

    &::before {
      border-bottom: 1px dashed $clr-border !important;
    }
  }
}

/* FILLED VARIANT STYLES */

.text-field.filled  {
  border-radius: $radius;
  background-color: #f5f5f5;
  position: relative;

  fieldset {
    display: none;
  }

  &:hover {
    background-color: darken(#f5f5f5, 2%);
  }

  &::before, &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
  }

  &::before {
    border-bottom: 1px solid $clr-border;
  }

  &::after {
    border-bottom: 2px solid $clr-primary;
    transform: scaleX(0);
    transition: transform 150ms ease;
  }

  &:focus-within::after {
    transform: scaleX(1);
  }

  input {
    padding: 1.7rem 1rem .5rem 1rem;

    /* If element is focused and text was written, move label on top. */
    &:focus ~ label, &:not(:placeholder-shown) ~ label {
      top: .9rem;
      font-size: .7rem;
    }
  }
}

/* OUTLINED VARIANT STYLES */

.text-field.outlined  {
  fieldset {
    position: absolute;
    margin: 0;
    width: 100%;
    height: calc(100% + 11.5px);
    padding-left: 10px;
    border-radius: $radius;
    top: -11.5px;
    pointer-events: none;
    box-sizing: border-box;
    border: none;

    legend {
      color: transparent;
    }
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: .7rem 1rem;
    border: 1px solid $clr-border;
    border-radius: $radius;
    z-index: 1;

    /* If element is focused and text was written, move label on top. */
    &:focus ~ label, &:not(:placeholder-shown) ~ label {
      top: 1px;
      font-size: .8rem;
    }

    /* If element is focused the border color is primary. */
    &:focus ~ fieldset {
      border: 2px solid $clr-primary;
    }

    /* If element is not focused and text is written, enable fieldset border. */
    &:not(:focus):not(:placeholder-shown) ~ fieldset {
      border: 1px solid $clr-border;
    }

    /* If element is not focused and text is written but was hover, darken the border. */
    &:hover:not(:focus):not(:placeholder-shown) ~ fieldset {
      border: 1px solid darken($clr-border, 25%);
    }

    /* If input is focused or text was written, switch to fieldset border. */
    &:focus, &:not(:placeholder-shown) {
      border: none;
    }

    /* If input hovered while not focus without text, darken its color. */
    &:hover:not(:focus):placeholder-shown {
      border: 1px solid darken($clr-border, 25%);
    }
  }
}

/* ERROR STYLES */

.error {
  .text-field.outlined input {
    border: 1px solid $clr-error;

    &:focus ~ fieldset {
      border: 2px solid $clr-error;
    }

    &:focus, &:not(:placeholder-shown) {
      border: none;
    }

    &:not(:focus):not(:placeholder-shown) ~ fieldset,
    &:hover:not(:focus):not(:placeholder-shown) ~ fieldset,
    &:hover:not(:focus):placeholder-shown {
      border: 1px solid $clr-error;
    }
  }

  .text-field.filled::after {
    border-bottom: 2px solid $clr-error;
    transform: scaleX(1);
  }

  .text-field label {
    color: $clr-error !important;
  }

  .helper {
    color: $clr-error;
  }
}

/* THEME OVERRIDES */

:global(.dark) .text-field {
  input {
    color: $clr-text-dark;
    border: 1px solid $clr-border-dark;


    &:focus ~ label {
      color: $clr-primary-dark;
    }

    &:focus ~ fieldset {
      border: 2px solid $clr-primary-dark;
    }

    &:not(:focus):not(:placeholder-shown) ~ fieldset {
      border: 1px solid $clr-border-dark;
    }

    &:hover:not(:focus):not(:placeholder-shown) ~ fieldset {
      border: 1px solid lighten($clr-border-dark, 50%);
    }

    &:hover:not(:focus):placeholder-shown {
      border: 1px solid lighten($clr-border-dark, 50%);
    }
  }

  label {
    color: $clr-label-dark;
  }
}
